html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}
h1{
  color: #5bccf6;
  padding: 2vh;
  font-size: 2rem;
  background-color: #fcde67 ;
}
h2{
  color: #030e12;
  padding: 2vh;
  font-size: 1.5rem;
}
p{
  font-size: 1rem;
}

.header{
  color: #5bccf6;
  padding: 2vh;
  font-size: 2rem;
  background-color: #fcde67 ;
}

.button {
  width: 200px;
  display: inline-block;
  background-color: #fcde67 ;
  border-width: 2px;
  border-style: solid;
  border-color: #030e12;
  border-radius: 7px;
  color: #030e12;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 16px;
  margin: 1px;
  cursor: pointer;
}

button:hover {
	background-color: #5bf6d3;
}
